* {
    padding: 0px 0px;
    margin: 0;
}


.navBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0px 30px;
    background-color: #a8c70c;
    color: #ffffff;
}

.navLinks ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
}
.navLinks li {
    margin: 15px;
}
.navLinks a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.navLinks a:hover{
    color: purple;
}

.signUp button {
    border-radius: 8px;
    font-size: 20px;
    width: 100px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.sectionHero {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
}

.catchWordContainer {
    font-weight: 700;
    font-size: 20px;
    font-family: poppins, serif;
}

.searchContainer input {
    padding: 8px 25px 5px 5px;
    outline: none;
    width: 100%;
    border-radius: 15px;
}


